<a href="https://colab.research.google.com/github/manizheh-saf/manizheh-saf/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



نحوه اعلان List در پایتون به صورت زیر است:

In [38]:
list1 = [1, 2, "Python", "Program", 15.9]
list2 = ["Amy", "Ryan", "Henry", "Emma"]

print(list1)
print(list2)

print(type(list1))
print(type(list2))

[1, 2, 'Python', 'Program', 15.9]
['Amy', 'Ryan', 'Henry', 'Emma']
<class 'list'>
<class 'list'>

ترتیب عناصر در لیست

In [39]:
a = [1, 2, "Ram", 3.50, "Rahul", 5, 6]
b = [1, 2, 5, "Ram", 3.50, "Rahul", 6]
result = a == b
print(result)

False

In [40]:
a = [1, 2, "Ram", 3.50, "Rahul", 5, 6]
b = [1, 2, "Ram", 3.50, "Rahul", 5, 6]
result = a == b
print(result)

True

مثال زیر نحوه کار با لیست در پایتون را نشان می‌دهد

In [41]:
emp = ["John", 102, "USA"]
Dep1 = ["CS", 10]
Dep2 = ["IT", 11]
HOD_CS = [10, "Mr. Holding"]
HOD_IT = [11, "Mr. Bewon"]

print("Printing employee data ...")
print("Name: %s, ID: %d, Country: %s" % (emp[0], emp[1], emp[2]))

print("Printing departments ...")
print("Department 1:\nName: %s, ID: %d\nDepartment 2:\nName: %s, ID: %d" % (Dep1[0], Dep1[1], Dep2[0], Dep2[1]))

print("HOD Details ...")
print("CS HOD Name: %s, ID: %d" % (HOD_CS[1], HOD_CS[0]))
print("IT HOD Name: %s, ID: %d" % (HOD_IT[1], HOD_IT[0]))

print(type(emp), type(Dep1), type(Dep2), type(HOD_CS), type(HOD_IT))

Printing employee data ...
Name: John, ID: 102, Country: USA
Printing departments ...
Department 1:
Name: CS, ID: 10
Department 2:
Name: IT, ID: 11
HOD Details ...
CS HOD Name: Mr. Holding, ID: 10
IT HOD Name: Mr. Bewon, ID: 11
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

برش یا Slicing

In [42]:
my_list = [1, 2, 3, 4, 5, 6, 7]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

print(my_list[0:6])  # From index 0 to index 5
print(my_list[:])     # Complete list
print(my_list[2:5])   # From index 2 to index 4
print(my_list[1:6:2]) # From index 1 to index 5 with a step of 2

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

اندیس بندی و برش منفی در لیست‌ها

In [43]:
my_list = [1, 2, 3, 4, 5]

print(my_list[-1])    # Access the last element
print(my_list[-3:])   # Sub-list from index -3 to the end
print(my_list[:-1])   # Sub-list from the beginning to index -2
print(my_list[-3:-1]) # Sub-list from index -3 to index -2

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

به‌روزرسانی و حذف عناصر لیست در

In [44]:
my_list = [1, 2, 3, 4, 5, 6]
print(my_list)

# Updating a single element at a specific index
my_list[2] = 10
print(my_list)

# Updating multiple elements using slicing
my_list[1:3] = [89, 78]
print(my_list)

# Updating the last element
my_list[-1] = 25
print(my_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

حذف عناصر از یک لیست

In [45]:
# Deleting list elements
my_list = [1, 2, 3, 4, 5, 6]
print(my_list)

# Deleting elements using del keyword
del my_list[2]
print(my_list)

# Using the remove() method
my_list.remove(4)
print(my_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[1, 2, 5, 6]

In [46]:
# Repetition of list
list1 = [12, 14, 16, 18, 20]
# Using repetition operator *
repeated_list = list1 * 2
print(repeated_list)

[12, 14, 16, 18, 20, 12, 14, 16, 18, 20]

الحاق لیست‌ ها در پایتون

In [4]:
# Concatenation of two lists
list1 = [12, 14, 16, 18, 20]
list2 = [9, 10, 32, 54, 86]
concatenated_list = list1 + list2
print(concatenated_list)

[12, 14, 16, 18, 20, 9, 10, 32, 54, 86]

طول لیست در پایتون

In [7]:
# Size of the list
list1 = [12, 14, 16, 18, 20, 23, 27, 39, 40]
list_length = len(list1)
print(list_length)

9

پیمایش لیست در پایتون

In [6]:
# Iteration over the list
list1 = [12, 14, 16, 39, 40]
for item in list1:
  print(item)

12
14
16
39
40

عضویت در لیست‌ های پایتون

In [8]:
# Membership of the list
list1 = [100, 200, 300, 400, 500]
# Checking membership
print(600 in list1)   # False
print(700 in list1)   # False
print(1040 in list1)  # False
print(300 in list1)   # True
print(100 in list1)   # True
print(500 in list1)   # True

False
False
False
True
True
True

لیست‌های پایتون را می‌توان با استفاده از حلقه «for» در پایتون پیمایش کرد.

In [9]:
# Iterating a list
my_list = ["John", "David", "James", "Jonathan"]
for item in my_list:
    print(item)

John
David
James
Jonathan

افزودن عناصر به لیست

In [18]:
# Declaring an empty list
l = []
# Number of elements to be entered by the user
n = int(input("Enter the number of elements in the list:"))
# Loop to take user input and add items to the list
for i in range(0, n):
  item = input("Enter the item:")
  l.append(item)
print("Printing the list items:")
# Loop to print the list items
for item in l:
    print(item)

Enter the number of elements in the list:4
Enter the item:apple
Enter the item:orange
Enter the item:kiwi
Enter the item:mellon
Printing the list items:
apple
orange
kiwi
mellon

حذف عناصر از لیست در Python

In [19]:
my_list = [0, 1, 2, 3, 4]
print("Original list:", my_list)
my_list.remove(2)
print("List after removing element 2:", my_list)

Original list: [0, 1, 2, 3, 4]
List after removing element 2: [0, 1, 3, 4]

توابع لیست در پایتون

In [21]:
list1 = [12, 16, 18, 20, 39, 40]
list_length = len(list1)
print("list_length=", list_length)

maximum = max(list1)
print("maximum=",maximum)

minimum = min(list1)
print("minimum=" ,minimum)

list_length= 6
maximum= 40
minimum= 12

مثال ١: حذف موارد تکراری از لیست

In [24]:
list1 = [1, 2, 2, 3, 55, 98, 65, 65, 13, 29]
list2 = []
for item in list1:
    if item not in list2:
        list2.append(item)
print(list2)

[1, 2, 3, 55, 98, 65, 13, 29]

مثال ٢: یافتن مجموع عناصر لیست در پایتون

In [26]:
list1 = [3, 4, 5, 9, 10, 12, 24]
sum_result = 0
for item in list1:
 sum_result += item
print("The sum is:", sum_result)

The sum is: 67

مثال ٣: یافتن عناصر مشترک بین دو لیست

In [35]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [7, 8, 9, 2, 10]
for x in list1:
 for y in list2:
  if x == y:
   print("The common element is:", x)

The common element is: 2