<a href="https://colab.research.google.com/github/manizheh-saf/manizheh-saf/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ساختار تاپل

In [2]:
Tup = ('Jan','feb','march')
tup1 = ();

برای نوشتن یک تاپل با یک مقدار، باید یک کاما هم قرار داد، حتی اگر تنها یک مقدار وجود داشته باشد. همچنین در پایان باید یک سمی کالن (;) همانند کد زیر قرار دهید.

Allow Duplicates

In [14]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
Tup1 = (50,);

Indexing

In [17]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

Range of Negative Indexes

In [19]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

Change Tuple Values

In [20]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items

In [24]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [23]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items

In [26]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [28]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)
 #this will raise an error because the tuple no longer exists

NameError: ignored

Loop Through a Tuple

In [29]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers

In [30]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

Using a While Loop

In [31]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Two Tuples

In [32]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [33]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

**`Tuple Methods`**

In [34]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

2
3

عمل تخصیص (Assignment) در تاپل‌ها

In [4]:
tup1 = ('Robert', 'Carlos','1965','Terminator 1995', 'Actor','Florida');
tup2 = (1,2,3,4,5,6,7);
print(tup1[0])
print(tup2[1:4])

Robert
(2, 3, 4)

بسته‌بندی (Packing) و گشودن بسته‌بندی (Unpacking)

In [5]:
x = ("Guru99", 20, "Education")    # tuple packing
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print(profile)

Guru99
20
Education

مقایسه (Comapre) تاپل‌ها

In [6]:
a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [7]:
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

In [8]:
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

b is bigger

بخش‌بندی (Slicing) یک تاپل

In [9]:
x = ("a", "b","c", "d", "e")
print(x[2:4])

('c', 'd')

مثال کلی

In [13]:
tup1 = ('Robert', 'Carlos','1965','Terminator 1995', 'Actor','Florida');
tup2 = (1,2,3,4,5,6,7);
print(tup1[0])
print(tup2[1:4])
#Packing and Unpacking
x = ("Guru99", 20, "Education")    # tuple packing
(company, emp, profile) = x    # tuple unpacking
print(company)
print(emp)
print (profile)

#Comparing tuples
#case 1
a=(5,6)
b=(1,4)
if (a>b):print ("a is bigger")
else: print ("b is bigger")

#case 2
a=(5,6)
b=(5,4)
if (a>b):print ("a is bigger")
else: print ("b is bigger")

#case 3
a=(5,6)
b=(6,4)
if (a>b):print ("a is bigger")
else: print ("b is bigger")

#Tuples and dictionary
a = {'x':100, 'y':200}
b = a.items()
print (b)

#Slicing of Tuple
x = ("a", "b","c", "d", "e")
print (x[2:4])

Robert
(2, 3, 4)
Guru99
20
Education
a is bigger
a is bigger
b is bigger
dict_items([('x', 100), ('y', 200)])
('c', 'd')